<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">		<!-- Thymeleaf -->
<head>
<meta charset="UTF-8">
<title>Admin - List organization</title>
</head>
<body>
	<h1>Organization</h1>
	<P>  The time on the server is <label th:text="${serverTime}"></label>. </P>
	<div style="overflow-x: auto; text-align: center;">
	<a th:href="@{/admin/organization/new}">Add Organization</a>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
			<tr th:each="vo: ${listOrganization}">
					
				<td th:utext="${vo.getId()}">${vo.id}</td>
				<td th:utext="${vo.getOrganization_name()}">${vo.organization_name}</td>
				<td><a th:href="@{/admin/organization/edit?id={id}(id=${vo.getId()})}">Edit</a></td>
			</tr>
		</table>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
			<c:forEach var="organization" items="${listOrganization}">		<!-- JSTL -->
				<tr>
					<td>${organization.id }</td>
					<td>${organization.organization_name}</td>
					<td>
						<a href="/spring/article/view?no=${organization.id }">${organization.organization_name}</a>
					</td>
				</tr>
			</c:forEach>
		</table>
	</div>
	
</body>
</html>